/* General */
p {
  margin: 1em 0;
  text-indent: 1.5em; 
}
hr {
  border: none;
  background-color: #000;
  color: #000;
  margin: 1.5em auto;
  text-align: center;
  height: 1px;
  width: 25%;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  hyphens: none;
}
h1 {
  font-size: 1.4em;
  margin: 0 2.5em 2.5em 2.5em;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 1.25em;
  font-weight: bold;
}
h3 {
  font-size: 1.1em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}
h5 {
  font-size: 1em;
  font-weight: normal;
}
h6 {
  font-size: 1em;
  font-weight: normal;
}

/* Quotes */
blockquote, aside {
  margin: 1em 1.5em;
  font-style: italic;
}
blockquote p {
  text-indent: 0;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}

/* Images */
figure {
  display: block;
  text-align: center;
}
figcaption {
  display: block;
  margin: 1em 0;
  font-style: italic;
  text-align: left;
}
img {
  display: block;
  text-align: center;
}

/* Inline */
span.link {
  text-decoration: underline;
}
